[build]
  command = "npm run build"
  publish = "dist"

  [build.environment]
    # Allow these public variables to be included in build output
    SECRETS_SCAN_OMIT_KEYS = "PUBLIC_SUPABASE_URL,PUBLIC_SUPABASE_ANON_KEY,PUBLIC_MAPBOX_ACCESS_TOKEN,PUBLIC_SITE_URL,NODE_ENV,PUBLIC_STRIPE_PUBLISHABLE_KEY"
    # Set production environment
    NODE_ENV = "production"

[dev]
  command = "npm run dev"
  port = 3000


[functions]
  node_bundler = "esbuild"


[[headers]]
  for = "/build/*"
  [headers.values]
    "Cache-Control" = "public, max-age=31536000, s-maxage=31536000"

